.select-item {
  position: relative;

  .selected {
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;
    cursor: pointer;

    .select-title {
      font-weight: 500;
    }

    span {
      font-size: 18px;
      display: grid;
      place-items: center;

      transition: transform 0.2s;

      &.rotate {
        transform: rotate(180deg);
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    position: absolute;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 160px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    z-index: 10;

    transition: transform 0.3s, opacity 0.3s, visibility 0.3s ease;

    li {
      padding: 7px 14px;
      text-transform: capitalize;
      cursor: pointer;

      &:hover {
        background-color: rgb(232, 232, 232);
      }

      &.disable {
        background-color: rgb(232, 232, 232);
      }
    }

    &.active {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
}
