.product-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.04);

  img {
    width: 305px !important;
    height: 305px !important;
    object-fit: contain;
  }

  .body {
    display: flex;
    flex-direction: column;

    gap: 5px;
    padding: 5px 15px 15px 15px;

    .name {
      font-size: 18px;
      font-weight: 500;
    }

    .price {
      margin-top: 15px;

      p {
        font-weight: 500;
        font-size: 18px;

        &:first-child {
          color: #787996;
          font-size: 14px;
        }
      }
    }

    .product-details {
      font-size: 18px;
      color: #fff;
      background-color: #787996;
      border-radius: 100px;
      padding: 10px 15px;
      text-align: center;
      margin-top: 15px;
    }
  }
}
