@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }

  .section-catalogs {
    .catalogs {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;

      .catalog {
        width: 100% !important;
        align-items: center;
      }
    }
  }

  .section-comments {
    .swiper-slide {
      &-active + div {
        .message {
          font-size: 22px !important;
        }
      }

      .message {
        font-size: 18px !important;
      }

      .user-name {
        font-size: 18px !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px !important;
  }

  .section-title {
    .title {
      font-size: 32px !important;
    }
  }

  .section-banner {
    .inner {
      .title {
        font-size: 34px !important;
      }

      .banner-inner {
        top: 50%;
        transform: translate(-50%, 25%);

        a {
          padding: 10px 20px !important;
          font-size: 12px !important;
        }
      }
    }
  }

  .section-catalogs {
    .catalog {
      img {
        max-width: 205px !important;
        max-height: 205px !important;
      }
    }
  }

  .section-comments {
    .swiper-slide {
      &-active + div {
        .message {
          font-size: 16px !important;
        }
      }
      .message {
        font-size: 16px !important;
      }
    }
  }

  header {
    .contact {
      display: none !important;
    }

    .header-menu {
      transform: translateX(100%);
      &.active {
        transform: translateX(0);
      }

      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      z-index: 50;
      padding: 60px 20px 0 20px;
      width: 350px !important;

      flex-direction: column;
      align-items: end !important;

      transition: transform 0.4s;

      .close-btn {
        display: block;
        position: absolute;
        top: 15px;
        left: 20px;
        background-color: transparent;
        border: none;
        font-size: 32px;
      }
    }

    .header-bar_btn {
      display: block !important;
      font-size: 24px;
      background-color: transparent;
      border: none;
    }
  }

  .section-statistics {
    .top {
      .title {
        font-size: 24px !important;
      }
    }

    .statistic-box {
      svg {
        width: 40px !important;
        height: 40px !important;
      }

      p {
        font-size: 16px !important;
      }
    }
  }

  .section-product-details {
    .product-info_box {
      align-items: center !important;
      flex-direction: column !important;

      .info {
        & > p {
          span {
            font-size: 18px !important;
          }
        }
      }
    }
  }

  .modal {
    background-color: transparent !important;
    backdrop-filter: blur(0px) !important;

    .modal-inner {
      position: fixed !important;
      box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);
      bottom: 0 !important;
      left: 0 !important;
      right: 0 !important;
      width: 100% !important;

      .close-modal_btn {
        display: none !important;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 360px !important;
  }

  .section-title {
    .title {
      font-size: 22px !important;
    }
  }

  .section-banner {
    .inner {
      .banner-inner {
        transform: translate(-50%, 0);
        bottom: 15px !important;
        justify-content: end !important;
        gap: 10px;
        .title {
          font-size: 16px !important;
        }

        a {
          padding: 6px 14px !important;
          font-size: 10px !important;
        }
      }
    }
  }

  .section-statistics {
    .top {
      .title {
        font-size: 16px !important;
      }
    }

    .statistic-boxes {
      flex-direction: column !important;

      .statistic-box {
        max-width: 340px !important;
      }
    }
  }

  .section-catalogs {
    .catalogs {
      display: flex !important;
      flex-direction: column !important;
    }
  }

  footer {
    .footer-inner {
      flex-direction: column;
      gap: 40px !important;

      .social-links {
        a {
          font-size: 15px !important;
        }
      }
    }
  }

  .section-product-details {
    .section-title {
      .title {
        font-size: 20px !important;
      }
    }
    .product-info_box {
      .info {
        & > p {
          max-width: 380px !important;

          span {
            font-size: 16px !important;
          }
        }
      }

      .ordering_and_price {
        gap: 10px;
        .price-tag {
          display: flex;
          flex-direction: column;
          gap: 5px;
          p {
            font-size: 14px !important;
          }
        }

        .order-btn {
          padding: 12px !important;
          font-size: 14px !important;
        }
      }
    }
  }

  .paths {
    max-width: 360px !important;
    gap: 5px !important;
    flex-wrap: wrap !important;

    span {
      font-size: 12px !important;
    }

    a {
      padding: 6px !important;
      min-width: 100px !important;
      font-size: 12px !important;
    }
  }

  .modal {
    .modal-inner {
      .title {
        font-size: 18px !important;
      }

      input {
        padding: 12px !important;
        font-size: 14px !important;
      }

      button {
        padding: 12px 24px !important ;
        font-size: 14px !important;
      }
    }
  }

  .header-bar_btn {
    font-size: 18px !important;
  }

  header {
    .logo {
      img {
        height: 30px !important;
      }
    }
  }

  footer {
    .contact {
      input,
      textarea {
        padding: 12px !important;
        font-size: 14px !important;
      }

      button {
        padding: 12px 24px !important;
        font-size: 14px !important;
      }
    }
  }
}

.header-bar_btn {
  display: none !important;
}
