.section-product-details {
  margin: 40px 0;

  .section-inner {
    .section-title {
      text-align: start !important;
    }

    .product-info_box {
      display: flex;
      gap: 30px;

      img {
        flex: 20% !important;
        width: 382px !important;
        height: 382px !important;
        object-fit: contain;
      }

      .info {
        flex: 70% !important;

        display: flex;
        gap: 30px;

        & > p {
          width: 600px !important;
        }

        .desc {
          flex: 50% !important;
        }

        .ordering_and_price {
          flex: 25% !important;
          background-color: #fff;
          box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.05);
          padding: 20px;
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: space-between;

          & > p {
            display: flex;
            align-items: center;
            gap: 5px;

            &:first-child {
              font-size: 16px;
              color: #787996;
            }
          }

          .price-tag {
            p {
              color: #787996;
              font-size: 14px;

              &:last-child {
                font-size: 18px;
                font-weight: 700;
                color: #000;
              }
            }
          }

          .count-box {
            display: flex;
            align-items: center;
            gap: 25px;
            background-color: #f8f9fd;
            padding: 15px 20px;
            border-radius: 100px;

            span {
              font-size: 16px;
            }

            button {
              background-color: transparent;
              border: none;
              font-size: 24px;
            }
          }

          .order-btn {
            background-color: #242bc4;
            color: #fff;
            padding: 15px 10px;
            border-radius: 100px;
            border: none;
            width: 100%;
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }
  }

  .section-recommendaition {
    .swiper-btns {
      display: flex;
      margin: 40px 0;

      justify-content: center;
      gap: 20px;

      button {
        background-color: #fff;
        padding: 15px 25px;
        font-size: 24px;
        border: none;
        border-radius: 100px;
        cursor: pointer;
      }
    }
  }
}
