@media screen and (max-width: 480px) {
  .section-recommendation {
    .product-item {
      flex-direction: row !important;
      gap: 5px !important;
      img {
        max-width: 167px !important;
        max-height: 167px !important;
        object-fit: contain !important;
      }

      .name {
        font-size: 14px !important;
      }

      a {
        padding: 10px !important;
        font-size: 14px !important;
      }
    }
  }
}
